*{
    box-sizing: border-box;
}

/* Utilizar la fuente descargada */

@font-face {
    font-family: 'fuente-primaria';
    src: url(font/coolvetica\ condensed\ rg.otf);
}

html{
    width: 100%;
    height: 100%;
    font-family: 'fuente-primaria';
   /*  background-color: rgb(146, 174, 174); */
   background-image: url(images/oceano.jpg);
   background-repeat: no-repeat; 
   
}


p{
    text-align: justify;
    line-height: 25px;
}

img{
    width: 100%;
}



.fondo{
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;

}

.fondo .contenido{
    background: url(images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 65%;
    position: relative;
}

.fondo .contenido .section{
    width: 30%;
    height: 15%;
    border-radius: 15px;
    /* border: 1px solid red; */
    position: absolute;
}

.fondo .contenido .section:hover{
    background-color: rgba(111, 145, 175, 0.551);
}

.fondo .contenido .section.uno{
    top: 7%;
    left: 6%;
}

.fondo .contenido .section.dos{
    top: 16.6%;
    left: 36%;
}

.fondo .contenido .section.tres{
    top: 10%;
    left: 68%;
}
.fondo .contenido .section.cuatro{
    top: 34%;
    left: 9%;
}
.fondo .contenido .section.cinco{
    top: 40%;
    left: 57%;
}
.fondo .contenido .section.seis{
    top: 61.4%;
    left: 9%;
}
.fondo .contenido .section.siete{
    top: 64.5%;
    left: 64%;
}

.ocho{
    position: absolute;
    top: 43%;
    left: 44%;
}

.ocho img{
    width: 90px;
}

header{
    background-color: rgba(0, 0, 0, 0.235);
    display: flex;
    justify-content: space-around; /* centtar iconos */
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.logo{
    padding: 15px;    
}

.logo img{
    width: 90px;
}

